<?xml version="1.0" encoding="utf-8"?>
<manifest package="comnepe.example.js_kftd_35.renpeng"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/renepng"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".rp.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:name=".rp.guide.GuideActivity"></activity>
        <activity android:name=".rp.home.HomeActivity"></activity>
    </application>

</manifest>
